<!-- Start blog section -->
<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-area">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="blog-left blog-details">
                <!-- Start single blog post -->
                <article class="single-from-blog">
                  <div class="blog-title">
                    <% if current_user %>


                        <% if current_user.voted_up_on? @lecture %>
                            <input id="unlike" type="button" value="UnLike" class="btn btn-warning">
                            <input style="display: none" id="like" type="button" value="Like" class="btn btn-primary">
                            <% else %>
                            <input id="like" type="button" value="Like" class="btn btn-primary">
                            <input style="display:none" id="unlike" type="button" value="UnLike" class="btn btn-warning">
                        <% end %>


                        <% if current_user.voted_up_on? @lecture ,:vote_scope => 'spam' %>
                            <input id="unspam" type="button" value="UnSpam" class="btn btn-success">
                            <input style="display: none" id="spam" type="button" value="Mark As Spam" class="btn btn-danger">
                        <% else %>
                            <input id="spam" type="button" value="Mark As Spam" class="btn btn-danger">
                            <input style="display: none" id="unspam" type="button" value="UnSpam" class="btn btn-success">
                        <% end %>




                        <% end %>

                    <% if @lecture.attachement.file %>
                    <%= link_to "Download Attachement ", lectures_download_path(:file => @lecture.attachement.file.path),class: 'btn btn-default' %>
                        <% end %>

                    <h2><%= @lecture.title %></h2>

                  </div>
                  <figure>
                    <%= image_tag(@lecture.image)%>
                  </figure>
                  <div class="blog-details-content">



                  <%=@lecture.content.html_safe %>
                  </div>
                </article>
                <div   style="  font-size: 20px;" id ='comments-container' >


                </div>
                <!-- End single blog post -->
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End blog section -->


<script>
  var like = $('#like');
  var unlike = $('#unlike');
  var spam = $('#spam');
  var unspam = $('#unspam');

  var lecture_id = <%= @lecture.id %>

like.on('click',like_func);
unlike.on('click',unlike_func);
spam.on('click',spam_func);
unspam.on('click',unspam_func);


function like_func () {
  $.ajax({url:'/lectures/'+lecture_id+'/like',method:'post'});
  unlike.show();
  like.hide();
}

function unlike_func () {
    $.ajax({url:'/lectures/'+lecture_id+'/unlike',method:'post'});
  like.show();
  unlike.hide();
}

function spam_func() {
  $.ajax({url:'/lectures/'+lecture_id+'/spam',method:'post'});
  unspam.show();
  spam.hide();
}

function unspam_func () {
  $.ajax({url:'/lectures/'+lecture_id+'/unspam',method:'post'});
  spam.show();
  unspam.hide();
}

  <%
   @user_image = " "
    @user_name = " "
    @read_only = "true"
    @user_id = "0"
   %>

  <% if current_user %>
  <%
      @user_image = current_user.avatar
      @user_name = current_user.name
      @read_only = "false"
      @user_id = current_user.id
  %>
  <% end%>
  $("#comments-container").comments({
    profilePictureURL:' <%= @user_image %>',
    newestText: '',
    oldestText: '',

    popularText: '',
    sendText: 'Comment',

    editText: 'Modify',
    youText: '<%=@user_name%>',
    highlightColor: 'green',
    enableReplying: false,
    enableUpvoting: false,
    postCommentOnEnter: true,
    roundProfilePictures:true,
    readOnly:<%= @read_only %>,

    getComments: function(success, error) {

      $.ajax({
        type: 'get',
        url: '/comments/index',
        data: {'lecture_id':lecture_id,'user_id':<%= @user_id %>}
        ,
        success: function(commentsArray) {




          success(commentsArray)
        }

      });

    },


    postComment: function(commentJSON, success) {

      commentJSON.id= <%= @user_id %>;
      commentJSON.parent=lecture_id;

      $.ajax({
        type: 'post',
        url: '/comments/create',
        data: commentJSON,
        success: function(comment) {

          success(comment)
        }

      });
    },
    putComment: function(commentJSON, success ) {

      $.ajax({
        type: 'post',
        url: '/comments/update' ,
        data: commentJSON,
        success: function(comment) {

          success(comment);
        }

      });
    },

    deleteComment: function(commentJSON, success, error) {
      $.ajax({
        type: 'post',
        url: '/comments/destroy',
        data: commentJSON,
        success:success,
        error: error
      });
    }


  });




</script>