<!DOCTYPE html>
<html>
<head>
  <title>SimpleMooc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- BEGAIN PRELOADER -->
<div id="preloader">
  <div class="loader">&nbsp;</div>
</div>
<!-- END PRELOADER -->

<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- END SCROLL TOP BUTTON -->

<!-- Start menu section -->
<section id="menu-area">
  <nav class="navbar navbar-default " role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- LOGO -->

      <%=  image_tag'logo.jpg' ,class: 'navbar-brand logo' %>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="top-menu" class="nav navbar-nav main-nav menu-scroll">
          <li class="active"><a href="index.html">Home</a></li>


          <li><a href="#testimonial">What people Say About Us </a></li>
          <li><a href="courses.html">Courses </a></li>
          <li><a href="#contact">SignUp/Login</a></li>
        </ul>
      </div><!--/.nav-collapse -->

    </div>
  </nav>
</section>
<!-- End menu section -->


<%= yield %>




<!-- Start Footer -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-top-area">
            <%=  image_tag'logo.jpg' ,class: 'navbar-brand logo' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Developed by Te7a</p>
  </div>
</footer>
<!-- End Footer -->
</body>
</html>
