<section id="contact">
  <div class="col-md-12 col-sm-6 col-xs-12">
    <div class="contact-right wow fadeInRight">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email,class: 'form-control' ,autofocus: true %>

          </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password,class: 'form-control' ,autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation,class: 'form-control' ,autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

          <div class="form-group">
            <%= f.label :name %> <br>
            <%= f.text_field :name ,class: 'form-control' %>
          </div>


          <div class="form-group">
            <%= f.label :birth_date %> <br>
            <%= f.date_select :birth_date, start_year: 1993 ,class: 'form-control' %>
          </div>


          <hr>
          <div class="form-group">

            <% if current_user.gender == 'Male' %>
                <% @male = true
                   @female = false
                %>
            <% else %>
                <%
                  @male = false
                  @female = true
                %>
            <% end %>
            <%= f.label :gender %> <br>
            <%= f.radio_button :gender  , "Male" ,:checked => @male%>
            <%= f.label :gender  , "Male" %>
            <%= f.radio_button :gender , "Female" ,:checked => @female%>
            <%= f.label :gender  , "Female" %>
          </div>


          <hr>

          <div class="form-group">

            <% if current_user.is_instructor == false %>
            <% @instructor = false
              @student = true
            %>
                <% else %>
                <%
                  @instructor = true
                  @student = false
                %>
            <% end %>

            <%= f.label :is_instructor , "Register As Student Or Instructor" %> <br>
            <%= f.radio_button :is_instructor  , 0  , :checked => @student%>

            <%= f.label :is_instructor  , "Student" %>
            <%= f.radio_button :is_instructor , 1 , :checked => @instructor%>
            <%= f.label :is_instructor  , "Instructor" %>
          </div>


          <div class="form-group">

            <%= f.label :avatar, "Choose Your Avatar Picture" %>
            <%= f.file_field :avatar%>
          </div>

  <div class="actions">
    <%= f.submit "Update" ,class: 'btn btn-danger'%>
  </div>

<% end %>


<%= link_to "Back", :back %>
    </div>
  </div>
</section>